

/* =============================================================
   GENERAL STYLES
 ============================================================ */
 h1 {
color:#2549BB;
}

 
 h3 {
color:#2549BB;
}

 h4 {
color:#2549BB;
}
/* =============================================================
  BUTTON SECTION STYLES
 ============================================================ */
.custom-btn-one {
   border-color: #2549BB;
}
   
/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

 #home-sec .main-img {     
   border:5px solid #2549BB;
}

    .icon-round:hover {
        background-color:#2549BB;
    }

.icon-round-active {
      background-color:#2549BB;
}




 

 /*=====================================
  FOOTER STYLES 
    ===================================*/
#footer-sec h3{
    color: #2549BB;
}
#footer-sec i{
    color: #2549BB;
}
 /*=====================================
  SCROLLUP STYLES 
    ===================================*/
a.scrollup {
background: #2549BB;

}