

/* =============================================================
   GENERAL STYLES
 ============================================================ */
 h1 {
color:#9B8E00;
}
h3 {
color:#9B8E00;
}
h4 {
color:#9B8E00;
}
/* =============================================================
  BUTTON SECTION STYLES
 ============================================================ */
.custom-btn-one {
   border-color: #9B8E00;
}
   
/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

 #home-sec .main-img {     
   border:5px solid #9B8E00;
}

    .icon-round:hover {
        background-color:#9B8E00;
    }

.icon-round-active {
      background-color:#9B8E00;
}




 

 /*=====================================
  FOOTER STYLES 
    ===================================*/
#footer-sec h3{
    color: #9B8E00;
}
#footer-sec i{
    color: #9B8E00;
}
 /*=====================================
  SCROLLUP STYLES 
    ===================================*/
a.scrollup {
background: #9B8E00;

}