

/* =============================================================
   GENERAL STYLES
 ============================================================ */
 h1 {
color:#00ADAD;
}

 h3 {
color:#00ADAD;
}
h4 {
color:#00ADAD;
}
/* =============================================================
  BUTTON SECTION STYLES
 ============================================================ */
.custom-btn-one {
   border-color: #00ADAD;
}
   
/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

 #home-sec .main-img {     
   border:5px solid #00ADAD;
}

    .icon-round:hover {
        background-color:#00ADAD;
    }

.icon-round-active {
      background-color:#00ADAD;
}




 /*=====================================
  FOOTER STYLES 
    ===================================*/
#footer-sec h3{
    color: #00ADAD;
}
#footer-sec i{
    color: #00ADAD;
}
 /*=====================================
  SCROLLUP STYLES 
    ===================================*/
a.scrollup {
background: #00ADAD;

}