

/* =============================================================
   GENERAL STYLES
 ============================================================ */
 h1 {
color:rgb(255, 15, 101);
}

h3 {
color:rgb(255, 15, 101);
}
h4 {
color:rgb(255, 15, 101);
}
/* =============================================================
  BUTTON SECTION STYLES
 ============================================================ */
.custom-btn-one {
   border-color: rgb(255, 15, 101);
}
   
/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

 #home-sec .main-img {     
   border:5px solid rgb(255, 15, 101);
}

    .icon-round:hover {
        background-color:rgb(255, 15, 101);
    }

.icon-round-active {
      background-color:rgb(255, 15, 101);
}




 /*=====================================
  FOOTER STYLES 
    ===================================*/
#footer-sec h3{
    color: rgb(255, 15, 101);
}
#footer-sec i{
    color: rgb(255, 15, 101);
}
 /*=====================================
  SCROLLUP STYLES 
    ===================================*/
a.scrollup {
background: rgb(255, 15, 101);

}