.自定一{animation: 闪动 2s;animation-iteration-count: infinite;}
.自定二{}
.自定三{}
.自定四{}
.自定五{}
.自定六{}
.自定七{}
.自定八{}
.自定九{}
.自定十{}
.自定十一{}
.自定十二{}
.自定十三{}
.自定十四{}
.自定十五{}
.自定十六{}
.自定十七{}
.自定十八{}
.自定十九{}
.自定廿{}